body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(240,240,240);
}

@font-face {
  font-family: 'New Rail';
  src: url('./typefaces/new-rail-normal.otf') format('truetype');
  font-display: block;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'New Rail Italic';
  src: url('./typefaces/new-rail-italic.otf') format('truetype');
  font-display: block;
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: dotted underline darkgrey;
  color: black;
}

a:hover {
  color: darkgrey;
}

img {
  width: 100%;
}

.ao-page {
  position: relative;
}

.ao-page-inner {
  padding: 10px;
}

.ao-page-content-container {
  font-family: 'New Rail';
  font-size: 18px;
  font-weight: lighter;
}

.ao-title-container {
  margin-bottom: 100px;
  width: 400px;
  list-style: none;
}

.ao-project-container {
  margin-bottom: 50px;
}

.ao-title-container li {
  margin-bottom: 10px;
}

.ao-project-text {
  margin-bottom: 10px;
  list-style: none;
}

.ao-project-image {
  width: 200px;
  display: flex;
}

.ao-image-shadow {
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 10px 3px #b9b9b9;
  -moz-box-shadow: 0px 0px 10px 3px #B9B9B9;
  box-shadow: 0px 0px 10px 3px #b9b9b9;
  margin-right: 20px;
}

.ao-project-video {
  width: 300px;
}

.ao-video-margin {
  width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 10px 3px #b9b9b9;
  -moz-box-shadow: 0px 0px 10px 3px #B9B9B9;
  box-shadow: 0px 0px 10px 3px #b9b9b9;
}

/* Mobile View */

@media only screen and (min-device-width: 320px) and
(max-device-width: 480px) and
(-webkit-min-device-pixel-ratio: 2) {

  .ao-page-inner {
    padding: 30px;
  }

  .ao-page-content-container {
    font-size: 30px;
  }

  .ao-title-container {
    margin-bottom: 200px;
    width: auto;
  }

  .ao-title-container li {
    margin-bottom: 30px;
  }

  .ao-project-text {
    margin-bottom: 30px;
  }

  .ao-project-container {
    margin-bottom: 100px;
  }

  .ao-project-image {
    width: 100%;
    display: flex;
  }

  .ao-project-image {
    display: block;
  }

  .ao-image-shadow {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .ao-project-video {
    width: 100%;
  }

}
