body {
  padding: 0;
  margin: 0;
  font-family: "New Rail";
  font-size: 22px;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}

@font-face {
  font-family: 'New Rail';
  src: url('./typefaces/new-rail-normal.otf') format('truetype');
  font-display: block;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'New Rail Italic';
  src: url('./typefaces/new-rail-italic.otf') format('truetype');
  font-display: block;
  font-weight: normal;
  font-style: normal;
}

.or-page-content {
  width: 100%;
  height: 100vh;
  padding: 20px;
}

.or-header-image {
  width: 100%;
}

.or-main-content {
  position: absolute;
  width: 100%;
}

/* Landing Image Styling */

.or-landing-image-container {
  position: fixed;
  width: 40%;
  margin: 0 30%;
  top: 50%;
  transform: translateY(-50%);
}

.or-landing-image {
  width: 100%;
}

.or-video-margin {
  width: 100%;
}

/*Word Nav Styling */

.or-nav-container {
  position: fixed;
  font-weight: bolder;
  text-transform: uppercase;
  list-style: none;
  width: 20%;
}

.or-nav-container--mobile {
  display: none;
}

.or-nav-container--top {
  top: 20px;
  left: 20px;
}

.or-nav-container--bottom {
  bottom: 20px;
  left: 20px;
}

.or-link {
  text-decoration: underline;
  color: blue;
}

.or-link:hover {
  opacity: 50%;
  animation-name: flash;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.or-header-container--mobile {
  display: none;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Mobile View */

@media only screen and (min-device-width: 320px) and
(max-device-width: 480px) and
(-webkit-min-device-pixel-ratio: 2) {

  body {
    overflow: hidden;
  }

  .or-page-content {
    padding: 30px;
  }

  /* Star Styling */

  .ao-star-container {
    width: 10%;
  }

  @keyframes star-one {
    0% {
      top: 20%;
      right: -8%
    }
    50% {
      top: 70%;
      right: 105%;
    }
    100% {
      top: 90%;
      right: -15%;
    }
  }

  /* Landing Image Styling */

  .or-landing-image-container {
    position: fixed;
    width: 100%;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .or-landing-image-inner {
    padding: 0 50px;
  }

  /* Header Container */

  .or-header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: bolder;
    list-style: none;
    background-color: white;
    line-height: 1.1em;
    background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(0, 0, 0, 0) 50%, rgb(255, 255, 255) 100%);
  }

  .or-header-container--mobile {
    display: block;
  }

  .or-header-container-inner {
    padding: 50px;
    display: flex;
    justify-content: space-between;
  }

  .or-right-align {
    text-align: right;
  }

  /*Word Nav Styling */

  .or-nav-container {
    display: none;
  }

}
