body {
  padding: 0;
  margin: 0;
  font-family: "New Rail";
  font-size: 22px;
  overflow: hidden;
  cursor: default;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}

@font-face {
  font-family: 'New Rail';
  src: url('../typefaces/new-rail-normal.otf') format('truetype');
  font-display: block;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'New Rail Italic';
  src: url('../typefaces/new-rail-italic.otf') format('truetype');
  font-display: block;
  font-weight: normal;
  font-style: normal;
}

.or-page-content {
  position: relative;
  padding: 20px;
}


.or-main-content {
  position: absolute;
  width: 100%;
}

/*Word Nav Styling */

.or-nav-container {
  position: fixed;
  font-weight: bolder;
  text-transform: uppercase;
  list-style: none;
  width: 300px;
  -webkit-backdrop-filter: blur(200px);
  backdrop-filter: blur(125px);
  background-color: rgba(215,215,215,0.4);
  border-radius: 20px;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 10px 3px #b9b9b9;
  -moz-box-shadow: 0px 0px 10px 3px #B9B9B9;
  box-shadow: 0px 0px 10px 3px #b9b9b9;

}

.or-nav-container--mobile {
  display: none;
}

.or-nav-container--top {
  top: 20px;
  left: 20px;
}

.or-nav-container--contact {
  top: 20px;
  left: 30%;
}

.or-link {
  text-decoration: underline;
  color: blue;
}

.or-link:hover {
  opacity: 20%;
}

.or-home-link:hover {
  opacity: 20%;
}

.or-header-container--mobile {
  display: none;
}

/* Grid Layout */

.or-image-container {
  justify-content: center;
}

.or-image {
  padding-bottom: 50px;
  width: 40%;
  margin: 0 30%;
}

.or-image--small {
  width: 30%;
  margin: 0 35%;
}

/* Contact Styling */

.or-contact-container {
  font-size: 55px;
  margin-top: 250px;
  text-transform: uppercase;
  text-align: center;
}

.or-contact-container--mobile {
  display: none;
}

.or-nav-container--contact--mobile {
  display: none;
}

/* Map Styling */

.or-map-container {
  position: fixed;
  width: 175px;
  bottom: 50px;
  right: 20px;
  border-radius: 20px;
}

.or-map-image {
  width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 10px 3px #b9b9b9;
  -moz-box-shadow: 0px 0px 10px 3px #B9B9B9;
  box-shadow: 0px 0px 10px 3px #b9b9b9;
}

@media only screen and (min-device-width: 480px) and
(max-device-width: 1050px) and
(-webkit-min-device-pixel-ratio: 2) {

  .or-nav-container {
    width: 200px;
  }

  .or-nav-container--contact {
    width: 370px;
    left: 280px;
  }
}

/* Mobile View */

@media only screen and (min-device-width: 320px) and
(max-device-width: 480px) and
(-webkit-min-device-pixel-ratio: 2) {

  .or-page-content {
    padding: 30px;
  }

  /* Header Container */

  .or-header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 55px;
    text-transform: uppercase;
    list-style: none;
    line-height: 1.1em;
  }

  .or-header-item {
    width: 33%;
  }

  .or-header-container--mobile {
    display: block;
  }

  .or-header-container-inner {
    margin: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    -webkit-backdrop-filter: blur(200px);
    backdrop-filter: blur(125px);
    background-color: rgba(215,215,215,0.4);
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 10px 3px #b9b9b9;
    -moz-box-shadow: 0px 0px 10px 3px #B9B9B9;
    box-shadow: 0px 0px 10px 3px #b9b9b9;
  }

  .or-right-align {
    text-align: right;
  }

  .or-center-align {
    text-align: center;
  }

  /*Word Nav Styling */

  .or-nav-container {
    display: none;
  }

  /* Grid Layout */

  .or-image-container {
    justify-content: center;
    margin-top: 250px;
    margin-bottom: 450px
  }

  .or-image {
    padding-bottom: 50px;
    width: 100%;
    margin: 0;
  }

  .or-image--small {
    width: 100%;
    margin: 0;
  }

  /* Contact Styling */

  .or-nav-container {
    backdrop-filter: none;
    background-color: white;
    border-radius: 0;
    padding: 0;
    -webkit-box-shadow: 0 0 0 0 white;
    box-shadow: 0;
  }

  .or-nav-container--contact {
    display: none;
  }

  .or-nav-container--contact--mobile {
    position: fixed;
    top: 250px;
    left: 0;
    width: 100%;
    font-size: 55px;
    text-transform: uppercase;
    list-style: none;
    line-height: 1.1em;
    display: block;
  }

  .or-nav-container--contact--mobile-inner {
    margin: 30px;
    padding: 20px;
    display: flex;
    -webkit-backdrop-filter: blur(200px);
    backdrop-filter: blur(125px);
    background-color: rgba(215,215,215,0.4);
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 10px 3px #b9b9b9;
    -moz-box-shadow: 0px 0px 10px 3px #B9B9B9;
    box-shadow: 0px 0px 10px 3px #b9b9b9;
  }

  /* Map Styling */

  .or-map-container {
    position: fixed;
    width: 500px;
    bottom: 100px;
    right: 20px;
    border-radius: 20px;
  }

  .or-map-image {
    width: 100%;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 10px 3px #b9b9b9;
    -moz-box-shadow: 0px 0px 10px 3px #B9B9B9;
    box-shadow: 0px 0px 10px 3px #b9b9b9;
  }
}
